selector:
    matchLabels:
      app: chat-backend
  template:
    metadata:
      labels:
        app: chat-backend
    spec:
      containers:
        - name: chat-backend
          image: sumitroy161/chat-app:backend
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: chat-backend-config
            - secretRef:
                name: chat-backend-secret
          readinessProbe:
            httpGet:
              path: /api/auth/health
              port: 5000
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: /api/auth/health
              port: 5000
            initialDelaySeconds: 30