kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: chat-app
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30001
        hostPort: 30001
        protocol: TCP
      - containerPort: 30007
        hostPort: 30007
        protocol: TCP