apiVersion: v1
kind: PersistentVolume
metadata:
  name: chat-mongo-pv
spec:
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /tmp/chat-mongo